/*Sets global styling*/

html,
body {
  width: 100%;
  height: 100%;
}

* {
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 1.5px;
}

body {
  background-color: white;
}

ul,
li {
  list-style-type: none;
}

nav {
  background-color: white;
  box-shadow: 3px 0px 8px #707070;
}

#navdiv {
  display: flex;
}

.nav-a {
  font-size: 1.2em;
  color: black;
}

.navbar {
  overflow: hidden;
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

#logo {
  width: 154.54px;
}

#navLogo {
  display: flex;
  justify-content: center;
}


#items {
  display: flex;
  justify-content: flex-end;
}

/*end*/
#row1 {
  margin: 0;
}

#formDiv {
  padding-top: 7%;
  padding-bottom: 5%;
}

#formDiv h2 {
  text-align: center;
  margin-top: 5%;
}

/*Inputs*/

#formElements {
  padding-top: 2%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#packageInfo {
  padding-top: 5%;
  margin-left: auto;
  font-size: 1.3em;
}

#formElements input {
  display: flex;
  justify-content: center;
}

#formElements label {
  margin-top: 2%;
}


/*Radio buttons*/

#inputgroup {
  display: flex;
}

#inputgroup li {
  margin-bottom: 10px;
  background-color: orangered;
  color: white;
  border: 2px solid black;
  text-align: center;
}

#inputgroup li:hover {
  background-color: white;
  color: black;
  transition: 0.1s ease-in; 
}
#inputgroup li::selection {
  background-color: white;
  color: black;
}
#inputgroup input {
  position: relative;
  opacity: 0;
  cursor: pointer;
  padding: 0;
}

#inputgroup label {
  text-align: center;
}

/*Buttons*/

.clear {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
}

/*Back button*/
#book {
  border-radius: 50px;
  border: 2px solid black;
}

#back {
  border-radius: 50px;
  border: 2px solid black;
}

/*Media Queries*/

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  /*Inputs*/
  #inputgroup ul {
    display: flex;
    flex-direction: column;
  }

  #inputgroup ul>li {
    margin-top: 10%;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  /*Inputs*/
  #inputgroup ul {
    display: flex;
    flex-direction: column;
  }

  #inputgroup ul>li {
    margin-top: 10%;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  /*Inputs*/
  #inputgroup ul {
    display: flex;
    flex-direction: column;
  }

  #inputgroup ul>li {
    margin-top: 10%;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  #formElements {
    margin: 10px;
    width: 80%;
  }

  #formElements h2 {
    margin-top: 30%;
    margin-bottom: 10%;
  }

  #package {
    margin-top: 5%;
  }

  /*Inputs*/
  #inputgroup ul {
    display: flex;
    flex-direction: column;
  }

  #inputgroup ul>li {
    margin-top: 10%;
  }

  #packageInfo {
    margin-top: 25px;
    font-size: 1.4em;
  }

  /*Buttons*/
  .clear {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column-reverse;
    margin-top: 2%;
  }

  #book {
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 0;
    padding: 2%;
  }
}