/* New NavBar Style */
#navdiv {
  width: auto;
  padding: 0;
  margin: 0;
}

nav {
  background-color: white;
  box-shadow: 3px 0px 8px #707070;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
}

.nav-link {
  padding-left: 0px;
}

.nav-link i {
  font-size: 1.2em;
  margin-right: 15px;
}

#col1 label,
#col2 label {
  font-weight: bold;
  color: #080808;
  margin-bottom: 0px;
}

#col2 {
  margin-left: 100px;
}


.navbar {
  display: flex;
  justify-content: flex-start;
}


#logo {
  width: 120.54px;
  margin-left: 25px;
}

/* Footer */

footer {
  padding-top: 25px;
  margin: 100px 0 0 0;
  background-color: whitesmoke;
}

#bold {
  font-weight: bold;
}

#mainfooter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2%;
  margin-bottom: 5%;
}

#mainfooter label {
  font-weight: bold;
  font-size: 1.2em;
}

#icons {
  display: flex;
  flex-direction: column;
}

#icons a {
  font-size: 55px;
}


#bottomBar {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#questions, #copyright {
  text-align: center;
}

#email {
  color: #F15B22;
}

#icons a {
  color: black;
}

#twitter,
#instagram {
  margin-right: 25px;
}

#twitter:hover {
  transition: 0.3s;
  color: #1da1f2;
}

#facebook:hover {

  transition: 0.3s;
  color: #3b5998;
}

#instagram:hover {

  transition: 0.3s;
  color: #c32aa3;
}

#footerlinks li {
  margin-bottom: 15px;
  font-size: 1.1em;
}

#footerlinks li:hover {
  color: #F15B22;
}

/*Media Queries*/

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  #questions {
    margin: 0 15px 0 15px;
  }

  #mainfooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #icons {
    justify-content: center;
    font-size: 50px;
    margin: 0;
  }

  #navfooter {
    margin-top: 5%;
    text-align: center;
    justify-content: center;
  }

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  #questions {
    margin: 0 15px 0 15px;
  }

  #mainfooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #icons {
    justify-content: center;
    font-size: 50px;
    margin: 0;
  }

  #navfooter {
    margin-top: 10%;
    text-align: center;
    justify-content: center;
  }

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  #questions {
    margin: 0 15px 0 15px;
  }

  #mainfooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #icons {
    justify-content: center;
    font-size: 50px;
    margin: 0;
  }

  #navfooter {
    margin-top: 10%;
    text-align: center;
    justify-content: center;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  #logo {
    width: 100px;
  }

  #questions {
    margin: 0 15px 0 15px;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
  }

  .nav-link i {
    font-size: 1.5em;
    margin-right: 15px;
  }

  #col2 label {
    margin-top: 15px;
  }

  #col2 {
    margin-left: 0px;
  }

  #mainfooter {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  #icons {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  
  #icons a {
    font-size: 50px;
  }

  #footerlinks li {
    font-size: 1em;
  }
  

  #navfooter {
    margin-top: 10%;
    text-align: center;
    justify-content: center;
  }

}