/*Global start*/

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

* {
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 1.5px;
    
}

a, a:hover {
    text-decoration: none;
}
/*Global end*/

nav {
    background-color: white;
    box-shadow: 3px 0px 8px #707070;
}

#navdiv {
    display: flex;
}

.nav-a {
    font-size: 1.2em;
    color: black;
}

.navbar {
    overflow: hidden;
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.nav-item {
    margin-left: 40px;
}

.nav-item>a>button {
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    font-size: 1.2em;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
}

#logolink {
    display: flex;
    justify-content: flex-start;
}

#logo {
    width: 20%;
    padding: 10px;
    }

    
#items {
    display: flex;
    justify-content: flex-end;
}

#navbars {
    padding-left: 15px;
}

/*end*/

/*Info and Rates*/

#profile {
    margin-top: 150px;
    margin-bottom: 200px;
}

#info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

#propic {
    border: 2px solid black;
}

#rates {}

#book {
    text-align: center;
    border-radius: 50px;
    margin-top: 2%;
    padding: 5% 10% 5% 10%;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}

#back {    
    display: flex;
    justify-content: center;
    margin-top: 2%;
    text-align: center;
    border-radius: 50px;
    padding: 1% 4% 1% 4%;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}

#backb {

}

/*Photographer Portfolio*/

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 4px;
    margin-top: 100px;

}

/*4 equal columns, next to each other*/
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    
}

#col img {
    border: 2px solid black;
    margin-top: 10px;
    vertical-align: middle;
    width: 100%;
}

/****Media Queries****/

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}


/*Media Queries*/

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
 
}