/*Global start*/
html,
body {
    width: 100%;
    height: 100%;
}

* {
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 1.5px;
}

a,
a:hover {
    text-decoration: none;
}

/*Global end*/

body {
    background-color: white;
}

ul,
li {
    list-style-type: none;
}

nav {
    background-color: white;
    box-shadow: 3px 0px 8px #707070;
}


.navbar {
    overflow: hidden;
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

#logo {
    width: 154.54px;
}

#navLogo {
    display: flex;
    justify-content: center;
}

#items {
    display: flex;
    justify-content: flex-end;
}


/*end*/
/*Info and Rates*/
#profile {
    margin-top: 150px;
}

#propic {
    display: flex;
    flex-direction: column;
}

#line {
    display: block;
    text-align: start;
    border: none;
    margin-top: -1rem;
    height: 5px;
    background: linear-gradient(45deg, #DD0C8B, #E52127, #F15B22, #FDD31C);
}

#info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

#rates {
    line-height: 10px;
}

#book {
    text-align: center;
    border-radius: 50px;
    margin-top: 10%;
    padding: 5% 10% 5% 10%;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}



/*Photographer Portfolio*/
#portfolio {
    margin-top: 50px;
}

#images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#pics {
    width: 35%;
    margin: 10px;
}

#pics>img {
    width: 100%;
}

#about h2 {
    margin-top: 80px;
}

#main h2 {
    margin-top: 5%;
}

#packages {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 2%;
    padding-right: 15%;
    padding-left: 15%;
}

#p1 {
    border: 2px solid black;
    padding: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    margin-right: 25px;
}

#p1:last-child {
    margin-right: 0;
}


#packages div {
    text-align: center;
}

#note {
    margin-top: 2%;
    text-align: center;
}

#backb {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4%;
    margin-bottom: 5%;
}

#backb a {
    width: 200px;
}

/* #backb > #back, #book2 {
    padding: 5% 2% 5% 2%;
} */

#back {
    text-align: center;
    border-radius: 50px;
    border: 2px solid black;
}

#book2 {
    text-align: center;
    border-radius: 50px;
    border: 2px solid black;
}

/*Media Queries*/
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {

    #back,
    #book2 {
        padding: 1% 2% 1% 2%;
    }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {

    #back,
    #book2 {
        padding: 1% 2% 1% 2%;
    }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    #pics {
        width: 30%;
    }

    #back,
    #book2 {
        padding: 1% 2% 1% 2%;
    }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #pics {
        width: 40%;
    }

    #back,
    #book2 {
        padding: 1% 2% 1% 2%;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {

    #pics {
        width: 40%;
    }

    #back,
    #book2 {
        padding: 2% 5% 2% 5%;
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {

    /*Profile*/
    #propic>img {
        width: 300px;
    }

    #profile {
        margin-top: 100px;
        margin-bottom: 50px;
    }

    #info {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    #rates {
        text-align: center;
        line-height: 15px;
    }

    #pics {
        width: 90%;
    }

    h1,
    h2 {
        text-align: center;
    }

    #packages {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 15%;
    }

    #p1 {
        padding: 10px;
        margin-top: 15%;
    }

    #backb {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column-reverse;
    }

    #back,
    #book2 {
        padding: 5% 2% 5% 2%;
    }

    #book2 {
        margin-bottom: 50px;
    }

    #about>p {
        margin: 10px 5px 40px 5px
    }
}