/*Sets global styling*/

* {
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 1.5px;
}


body {
  padding-top: 100px;
  margin: 0;
  width: 100%;
}

html {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/*navbar*/

nav {
  background-color: white;
  box-shadow: 3px 0px 8px #707070;
}

button {
  background: white;
  border: none;
  border-radius: 12px;
  color: transparent;
  font-size: 150%;
  padding: 1% 8%;
  /*top/b right/l*/
  border-radius: 50px;
}

h2 {
  font-weight: bold;
  font-size: 300%;
}

.nav-a {
  font-size: 100%;
  color: black;
}

.navbar {
  overflow: hidden;
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.nav-item {
  margin-left: 40px;
}

.nav-item>a>button {
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  font-size: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

#navbars {
  padding-left: 15px;
}

#logolink {
  display: flex;
  justify-content: flex-start;
}

#logo {
  width: 154.54px;
  padding: 10px;
}

/*end*/

/*more efficient method to get lines be same width as text*/

#line {
  display: block;
  border: none;
  height: 5px;
  background: linear-gradient(45deg, #DD0C8B, #E52127, #F15B22, #FDD31C);
  max-width: 28%;
  margin: 0px;
  border-radius: 5px;
}

#line_mission {
  display: block;
  border: none;
  height: 5px;
  background: linear-gradient(45deg, #DD0C8B, #E52127, #F15B22, #FDD31C);
  max-width: 27%;
  margin: 0px;
  border-radius: 5px;
}

#line_team {
  display: block;
  border: none;
  height: 5px;
  background: linear-gradient(45deg, #DD0C8B, #E52127, #F15B22, #FDD31C);
  max-width: 152px;
  margin: 0px;
  border-radius: 5px;
}

/***/

.centered {
  /*centers item*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.about_para {
  padding: 3% 0 3% 10%;
  /*top right bottom left*/
}

img {
  /*to resize image according to screen*/
  max-width: 100%;
  height: auto;
  width: auto\9;
  /* ie8 */
}

.second_section {
  padding-top: 10%;
}

.third_section {
  padding-top: 5%;
}

.contained {
  padding: 3%;
}

/*Bottom bar styles*/

footer {
  border-top: 100px solid transparent;
  -o-border-image: linear-gradient(140deg, #DD0C8B, #E52127, #F15B22, #FDD31C);
  border-image: linear-gradient(140deg, #DD0C8B, #E52127, #F15B22, #FDD31C);
  border-image-slice: 1;
  width: 100%;
  height: auto;
  background: white;
  padding: 3%;
  padding-bottom: 0%;
}

#footer1 {
  display: block;
}

#shootLogo {
  width: 10%;
}

.mid-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-bottom: 5%;
}

/*List elements*/

ul {
  list-style-type: none;
  font-size: 110%;
  padding: 0;
}

a>li {
  text-decoration: none;
  color: black;
}

ul>a:hover {
  text-decoration: none;
  color: #c40000;
}

#bold {
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

div>span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* Media Queries */
@media (min-width: 1025px) and (max-width: 1200px) {
  #line{  
    display:block;
    border:none;
    height:5px;
    background: linear-gradient(45deg,#DD0C8B, #E52127, #F15B22, #FDD31C);
    max-width: 35%;
    margin: 0px;
    border-radius: 5px;
  }

}
/* 
      ##Device = Tablets, Ipads (portrait)
      ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {

  /* Footer */
  footer {
    border-top: 50px solid transparent;
  }
  #shootLogo {
    width: 25%;
  }
  #line {
    display: block;
    border: none;
    height: 5px;
    background: linear-gradient(45deg, #DD0C8B, #E52127, #F15B22, #FDD31C);
    max-width: 45%;
    margin: 0px;
    border-radius: 5px;
  }
  #line_mission {
    display: block;
    border: none;
    height: 5px;
    background: linear-gradient(45deg, #DD0C8B, #E52127, #F15B22, #FDD31C);
    max-width: 43%;
    margin: 0px;
    border-radius: 5px;
  }
}

/* 
      ##Device = Tablets, Ipads (landscape)
      ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* First Section  */

  /* Footer */
  footer {
    border-top: 50px solid transparent;
  }
  #shootLogo {
    width: 25%;
  }
  #line {
    display: block;
    border: none;
    height: 5px;
    background: linear-gradient(45deg, #DD0C8B, #E52127, #F15B22, #FDD31C);
    max-width: 45%;
    margin: 0px;
    border-radius: 5px;
  }
  #line_mission {
    display: block;
    border: none;
    height: 5px;
    background: linear-gradient(45deg, #DD0C8B, #E52127, #F15B22, #FDD31C);
    max-width: 43%;
    margin: 0px;
    border-radius: 5px;
  }
}

/* 
      ##Device = Low Resolution Tablets, Mobiles (Landscape)
      ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  /* First Section  */

  /* Footer */
  footer {
    border-top: 50px solid transparent;
  }
  #shootLogo {
    width: 30%;
  }
  #line {
    display: block;
    border: none;
    height: 5px;
    background: linear-gradient(45deg, #DD0C8B, #E52127, #F15B22, #FDD31C);
    max-width: 63%;
    margin: 0px;
    border-radius: 5px;
  }
  #line_mission {
    display: block;
    border: none;
    height: 5px;
    background: linear-gradient(45deg, #DD0C8B, #E52127, #F15B22, #FDD31C);
    max-width: 60%;
    margin: 0px;
    border-radius: 5px;
  }
}

/* 
      ##Device = Most of the Smartphones Mobiles (Portrait)
      ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  /* Navigation Bar */

  /* Footer */
  footer {
    border-top: 50px solid transparent;
  }
  #shootLogo {
    width: 40%;
  }
  #footer1 {
    text-align: center;
  }
  .mid-footer {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  div>span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  #line {
    display: block;
    border: none;
    height: 5px;
    background: linear-gradient(45deg, #DD0C8B, #E52127, #F15B22, #FDD31C);
    max-width: 92%;
    margin: 0px;
    border-radius: 5px;
  }
  #line_mission {
    display: block;
    border: none;
    height: 5px;
    background: linear-gradient(45deg, #DD0C8B, #E52127, #F15B22, #FDD31C);
    max-width: 90%;
    margin: 0px;
    border-radius: 5px;
  }
}
