html,
body {
  width: 100%;
  height: 100%;
}

* {
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 1.5px;
}

body {
  background-color: white;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

ul,
li {
  list-style-type: none;
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
}

/* New NavBar Style */
nav {
  background-color: white;
  box-shadow: 3px 0px 8px #707070;
  position: relative;
}

.navbar {
  display: flex;
  justify-content: flex-start;
}


#logo {
  width: 154.54px;
  margin-left: 25px;
}


/* Main Section */

/* Standard heading for each category */

#heading {
  display: flex;
  flex-direction: column;
}

#heading>h1 {
  font-size: 3em;
  font-weight: bold;
}

#heading p {
  font-size: 1.2em;
}

#mobileslider {
  padding-left: 0;
  padding-right: 0;
}

#profilecard {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 525px;
  border-radius: 15px;
  margin: 50px;
  margin-top: 15px;
}

#seemorediv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
}

#seemore {
  display: flex;
justify-content: center;
flex-direction: column;
text-align: center;
  width: 300px;
  height: 300px;
  border: 5px black;
  border-radius: 15px;
  margin: 50px;
  margin-top: 15px;
}

#seemore a:hover {
  color: black;
}

.far {
  font-size: 3em;
}

#mainImg {
  object-fit: contain;
  border-radius: 15px 15px 0 0;
}


#items img {
  height: auto;
  width: 300px;
}


#tags {
  font-size: 0.8em;
}

#items label {
  padding-top: 5px;
  padding-left: 20px;
  font-size: 1.2em;
}

#items {
  max-width: 350px;
  overflow: hidden;

  background-repeat: no-repeat;
  background-size: cover;
}

/* Photographer Profile Image for Main */

#togInfo {
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
}

#proimg {
  width: 25%;
  height: auto;
  border-radius: 50%;
  
}

#categories {
  padding-top: 5px;
  padding-left: 35px;
}

figcaption {
  padding-left: 20px;
}

#pname {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: -5px;
}

#price {
  font-size: 0.95em;
  margin-top: 5px;
}

/* Standardized Buttons for profile */
.btn {
  border-radius: 50px;
  width: 150px;
}

#botBook,
#topBook {
  border: none;
  background-color: #F15B22;
  font-size: 1em;
}

#botBook:hover,
#topBook:hover {
  border: none;
  background-color: black;
}

#topBook {
  margin-bottom: 5px;
}

/* Footer */

footer {
  padding-top: 25px;
  margin: 100px 0 0 0;
  background-color: whitesmoke;
}

#bold {
  font-weight: bold;
}

#mainfooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2%;
  margin-bottom: 5%;
}

#icons {
  display: flex;
  justify-content: flex-start;
  margin-top: 2%;
  margin-left: 5%;
  font-size: 55px;
}

#navfooter {
  display: flex;
  text-align: start;
  justify-content: flex-end;
  margin-right: 5%;
}

#bottomBar {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#email {
  color: #F15B22;
}

#icons a {
  color: black;
}

#twitter,
#instagram {
  margin-right: 25px;
}

#twitter:hover {
  transition: 0.3s;
  color: #1da1f2;
}

#facebook:hover {

  transition: 0.3s;
  color: #3b5998;
}

#instagram:hover {

  transition: 0.3s;
  color: #c32aa3;
}

#footerlinks li {
  margin-bottom: 15px;
}

#footerlinks li:hover {
  color: #F15B22;
}

/*Media Queries*/

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1024px) {
  /* Slider for mobile */

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  #heading {
    display: flex;
    justify-content: center;
  }

  #profilecard {
    margin-top: 35px;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  #heading {
    display: flex;
    justify-content: center;
  }

  #profilecard {
    margin-top: 35px;
  }

  #profilecard {
    margin-top: 35px;
    margin-right: 15px;
  }


  #questions {
    margin: 0 15px 0 15px;
  }

  #mainfooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #icons {
    justify-content: center;
    font-size: 50px;
    margin: 0;
  }

  #navfooter {
    margin-top: 10%;
    text-align: center;
    justify-content: center;
  }

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #heading {
    display: flex;
    justify-content: center;
  }

  #heading>h1 {
    text-align: center;
  }

  #profilecard {
    margin-top: 35px;
  }

  #questions {
    margin: 0 15px 0 15px;
  }

  #mainfooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #icons {
    justify-content: center;
    font-size: 50px;
    margin: 0;
  }

  #navfooter {
    margin-top: 10%;
    text-align: center;
    justify-content: center;
  }

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  #heading {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
  }

  #heading>h1 {
    text-align: center;
  }

  #items {
    margin-top: 25px;
    padding: 0;
  }


  #photographers_container {
    display: none;
  }

  #questions {
    margin: 0 15px 0 15px;
  }

  #mainfooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #icons {
    justify-content: center;
    font-size: 50px;
    margin: 0;
  }

  #navfooter {
    margin-top: 10%;
    text-align: center;
    justify-content: center;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  #heading {
    display: flex;
    margin-top: 10%;
    font-size: 0.75em;
  }

  .neededmargin {
    margin-top: 10%;
  }

  /* Profile Cards */
  #profilecard {
    margin: 25px;
  }

  #questions {
    margin: 0 15px 0 15px;
  }


  #mainfooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #icons {
    justify-content: center;
    font-size: 50px;
    margin: 0;
  }

  #navfooter {
    margin-top: 10%;
    text-align: center;
    justify-content: center;
  }

  #photographers_container {
    display: none;
  }

}