html,
body {
  width: 100%;
  height: 100%;
}

* {
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 1.5px;
}

body {
  background-color: white;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

ul,
li {
  list-style-type: none;
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
}

button,
button:hover,
button:visited {
  border: none;
}

/* Jumbotron */

#hero-image {
  height: 100vh;
  width: auto;
  /* dark overlay Image location */
  background-image: linear-gradient(rgba(0, 0, 0, 0.603), hsla(0, 0%, 0%, 0.603)),
    url('https://images.unsplash.com/photo-1537758069025-b07fb3548d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1976&q=80');

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;

  display: flex;
  flex-direction: column;
  padding: 0;

}


#main-text {
  display: flex;
  margin-left: 100px;
  margin-top: 30vh;
  margin-bottom: 100px;
  padding: 0;
  width: 80%;
}

#cta-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 200px;
}

#cta-button button {
  font-size: 2em;
  width: 250px;
}

#cta-button button:hover {
  background-color: black;
}

#main-text h1 {
  /* Text properties */
  font-size: 5em;
  font-weight: bold;
  color: white;
}

/* Main Section */

#heading {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  margin-left: 100px;
}

#heading h2 {
  font-size: 2em;
  font-weight: bold;
}

#heading p {
  font-size: 1.2em;
}

#photographers_container {
  padding: 0;
  margin-right: auto;

  /* Change this 85px to have it left skewed */
  margin-left: 100px;
}

#photographers {
  display: flex;
  margin-top: 1%;
  margin-right: 0;
  margin-left: auto;
  padding: 0;
}


#profilecard {
  display: flex;
  flex-direction: column;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.1s;
  width: 250px;
  height: 445px;
  border-radius: 15px;
  margin: 15px;
  margin-top: 15px;
}

#mainImg {
  object-fit: contain;
  border-radius: 15px 15px 0 0;
}

#items label {
  padding-top: 5px;
  padding-left: 20px;
  font-size: 1.2em;
}

#items {
  /* We are limiting the size of the div the image is in. This way, the image can overflow just slightly without affecting the other elements in the card.
   */
  max-width: 300px;
  height: 375px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

#items img {
  height: auto;
  width: 250px;
}

#tags {
  font-size: 0.8em;
}

/* Photographer Profile Image for Main */

#togInfo {
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  padding-bottom: 25px;
}

#proimg {
  width: 20%;
  height: auto;
  border-radius: 50%;

}

#categories {
  padding-top: 5px;
  padding-left: 35px;
}

figcaption {
  padding-left: 10px;
}

#pname {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1em;
  margin-bottom: -5px;
}

#price {
  font-size: 0.8em;
  margin-top: 5px;
}

/* Standardized Buttons for profile */
.btn {
  border-radius: 50px;
  width: 150px;
}

#botBook,
#topBook {
  border: none;
  background-color: #F15B22;
  font-size: 0.9em;
}

#botBook:hover,
#topBook:hover {
  border: none;
  background-color: black;
}

#topBook {
  margin-bottom: 5px;
}

#view {
  margin-top: 25px;
  margin-left: 15px;
}

#view a i {
  font-size: 1.5em;
  margin-left: 5px;
}

#mobileslider #view {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  margin-left: 0px;
}



/*Media Queries*/

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1025px) {

  #mobileslider {
    display: none;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {


  #photographers_container {
    padding: 0;
    margin-right: auto;

    /* Change this 85px to have it left skewed */
    margin-left: auto;
  }

  #heading h2 {
    font-size: 2em;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  #photographers_container {
    padding: 0;
    margin-right: auto;

    /* Change this 85px to have it left skewed */
    margin-left: auto;
  }

  #mobileslider {
    display: none;
  }

  /* Jumbotron */

  #hero-image {
    width: 100%;
  }


  #main-text {
    display: flex;
    margin: 30vh 100px 50px 25px;
    padding: 0;
    width: auto;
  }


  #cta-button {
    display: flex;
    justify-content: flex-start;
    margin: 25px;
  }


  #main-text h1 {
    /* Text properties */
    font-size: 3em;
  }

  #cta-button button {
    font-size: 1.5em;
    width: 200px;
  }

  #heading {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    margin-left: auto;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #mobileslider {
    display: none;
  }


  #hero-image {
    width: 100%;
  }



  #heading {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    margin-left: 0px;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  #heading {
    display: flex;
    margin-top: 5%;
  }

  #items {
    margin-top: 25px;
    padding: 0;
  }

  #photographers_container {
    display: none;
  }


  #heading {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    margin-left: 0px;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  /* Hero Image */

  #main-text {
    display: flex;
    margin: 25vh 25px 50px 25px;
    padding: 0;
  }

  #cta-button {
    display: flex;
    justify-content: flex-start;
    margin: 25px;
  }

  #cta-button button {
    font-size: 1em;
    width: 150px;
  }

  #main-text h1 {
    /* Text properties */
    font-size: 2.5em;
  }


  #heading {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    margin-left: 0px;
  }

  #heading h2 {
    font-size: 1.5em;
  }

  #heading p {
    font-size: 0.8em;
  }

  #mobileslider {
    margin-bottom: 65px;
  }

  /* Profile Cards */
  #profilecard {
    margin: 25px;
  }

  #photographers_container {
    display: none;
  }

}