/*Sets global styling*/

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

* {
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 1.5px;
}

body {
    background-color: white;
}

/*navbar*/

nav {
    background-color: white;
    box-shadow: 3px 0px 8px #707070;
}

button {
    background: white;
    border: none;
    border-radius: 12px;
    color: transparent;
    font-size: 150%;
    padding: 1% 8%;
    /*top/b right/l*/
    border-radius: 50px;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 300%;
}

#line {
    width: 50%;
    display: block;
    border: none;
    height: 5px;
    background: linear-gradient(45deg, #DD0C8B, #E52127, #F15B22, #FDD31C);
}

.nav-a {
    font-size: 100%;
    color: black;
}

.navbar {
    overflow: hidden;
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.nav-item {
    margin-left: 40px;
}

.nav-item>a>button {
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    font-size: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

#navbars {
    padding-left: 15px;
}

#logolink {
    display: flex;
    justify-content: flex-start;
  }
  
  #logo {
    width: 154.54px;
    padding: 10px;
  }
  
/*end*/

#mc_embed_signup {
    clear: left;
}

.signup {
    padding-top: 15%;
    margin-bottom: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.signup>div>h2 {
    /*Text-specific*/
    padding-bottom: 25px;
    font-weight: bold;
    font-size: 400%;
}

.signup>div>p {
    padding-top: 25px;
    font-size: 170%;
}

input {
    border: 2px solid rgb(53, 53, 53);
    border-radius: 50px;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    width: 50%;
}

.mc-field-group>div>input {
    font-size: 150%;
}

input:focus {
    outline: none;
}

.mc-field-group>.btn {
    background-image: linear-gradient(140deg, #DD0C8B, #E52127, #F15B22, #FDD31C);
    border: 2px;
    color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px 0px;
    font-size: 120%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.mc-field-group>.btn:hover {
    background-image: black;
}

/*Footer*/

footer {
    border-top: 100px solid transparent;
    -o-border-image: linear-gradient(140deg, #DD0C8B, #E52127, #F15B22, #FDD31C);
    border-image: linear-gradient(140deg, #DD0C8B, #E52127, #F15B22, #FDD31C);
    border-image-slice: 1;
    width: 100%;
    height: auto;
    background: white;
    padding: 3%;
    padding-bottom: 0%;
}

#footer1 {
    display: block;
}

#shootLogo {
    width: 10%;
}

.mid-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-bottom: 5%;
}

/*List elements*/

ul {
    list-style-type: none;
    font-size: 110%;
    padding: 0;
}

a>li {
    text-decoration: none;
    color: black;
}

ul>a:hover {
    text-decoration: none;
    color: #c40000;
}

#bold {
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

div>span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/* Media Queries  */

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    /* Navigation Bar */
    /*Sign up section*/
    .signup>div>h2 {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 300%;
    }
    .signup>div>p {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 150%;
    }
    input {
        width: 80%;
    }
    .signup {
        padding-top: 20%;
        margin-bottom: 100px;
    }
    /* Footer */
    footer {
        border-top: 50px solid transparent;
    }
    #shootLogo {
        width: 20%;
    }
    #footer1 {
        text-align: center;
    }
    .mid-footer {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
    }
    div>span {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        text-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    /* Navigation Bar */
    /*Sign up section*/
    .signup>div>h2 {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 200%;
    }
    .signup>div>p {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 120%;
    }
    input {
        width: 80%;
    }
    .signup {
        padding-top: 30%;
        margin-bottom: 100px;
    }
    /* Footer */
    footer {
        border-top: 50px solid transparent;
        position: absolute;
    }
    #shootLogo {
        width: 40%;
    }
    #footer1 {
        text-align: center;
    }
    .mid-footer {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
    }
    div>span {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        text-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}