/*Sets global styling*/

html,
body {
  width: 100%;
  height: 100%;
}

* {
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 1.5px;
}

body {
  background-color: white;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

ul,
li {
  list-style-type: none;
}

nav {
  background-color: white;
  box-shadow: 3px 0px 8px #707070;
}

#navdiv {
  display: flex;
}

.nav-a {
  font-size: 1.2em;
  color: black;
}

.navbar {
  overflow: hidden;
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.nav-item {
  margin-left: 40px;
}

.nav-item>a>button {
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  font-size: 1.2em;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
}

#logolink {
  display: flex;
  justify-content: flex-start;
}

#logo {
  width: 154.54px;
  padding: 10px;
}

#navbars {
  padding-left: 15px;
}

#items {
  display: flex;
  flex-direction: column;
}

#items label {
  padding-top: 5px;
  padding-left: 10px;
  font-size: 1.2em;
}

#photographers_container {
  margin-bottom: 100px;
  padding: 0;
}

#photographers {
  display: flex;
  justify-content: space-between;
}

#heading {
  display: flex;
  justify-content: start;
}

#heading>h1 {
  padding-top: 10%;
  font-size: 3em;
}

#items img {
  padding: 10px;
  width: 300px;
}

#categories {
  padding-left: 25px;
}

/*Media Queries*/

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  #heading {
    display: flex;
    justify-content: center;
  }

  #heading>h1 {
    text-align: center;
  }

  #items {
    margin-top: 25px;
    padding: 0;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  #heading {
    display: flex;
    justify-content: center;
  }

  #heading>h1 {
    text-align: center;
  }

  #items {
    margin-top: 25px;
    padding: 0;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #heading {
    display: flex;
    justify-content: center;
  }

  #heading>h1 {
    text-align: center;
  }

  #items {
    margin-top: 25px;
    padding: 0;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  #heading {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
  }

  #heading>h1 {
    text-align: center;
  }

  #items {
    margin-top: 25px;
    padding: 0;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  #heading {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20%;
    font-size: 0.75em;
  }

  #items {
    margin-top: 25px;
    padding: 0;
  }

  #photographers {
    justify-content: center;
  }
}