/*Sets global styling*/

html,
body {
    width: 100%;
    height: auto;
}

* {
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 1.5px;
}

body {
    background-color: white;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* Navigation Bar */

nav {
    background-color: white;
    box-shadow: 3px 0px 8px #707070;
}

.navbar {
    overflow: hidden;
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

#logo {
    width: 154.54px;
}

#navLogo {
    display: flex;
    justify-content: center;
}

/* Main Section */

#center > h1{
    padding-top: 8%;
    padding-bottom: 3%;
    text-align: center;
    font-size: 3em;
}

#center > h5 {
    margin-bottom: 100px;
}

/* Standardized Buttons for profile */
#bottomButtons {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    margin-bottom: 10%;
}

.btn {
    border-radius: 50px;
    width: 125px;
}

#botBook,
#topBook {
    border: none;
    background-color: #F15B22;
}

#botBook:hover,
#topBook:hover {
    border: none;
    background-color: black;
}

/* Footer */

footer {
    padding-top: 50px;
    margin: 100px 0 0 0;
    background-color: whitesmoke;
}

#bottomBar {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#questions {
    padding: 0 10px 0 10px;
}

#email {
    color: #F15B22;
}

#icons {
    font-size: 50px;
    margin: 25px 0 25px 0;
}

#icons a {
    color: black;
    text-decoration: none;
}

#twitter,
#instagram {
    margin-right: 20px;
}

#twitter:hover {
    transition: 0.3s;
    color: #1da1f2;
}

#facebook:hover {

    transition: 0.3s;
    color: #3b5998;
}

#instagram:hover {

    transition: 0.3s;
    color: #c32aa3;
}

/*Media Queries*/
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {

    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {

    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {}
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {

    #center > h1 {
        padding-top: 15%;
    }
    
  }